<div *ngIf="weatherForecast">

  <h1>{{ weatherForecast.name }}</h1>

  <div *ngIf="weatherForecast.current" id="weather-current" class="jumbotron">
    <div class="row">

      <div class="col-md-7">
        <h2 class="display-3">Today</h2>
        <p class="h2">{{ weatherForecast.current.dt | date: 'HH:mm' }}</p>
      </div>

      <div class="col-md-5">
        <table class="table">
          <tr>
            <td>Temperature:</td>
            <td>{{ weatherForecast.current.temp | number: '1.0-1' }} <span>°C</span></td>
          </tr>
          <tr>
            <td>Wind:</td>
            <td>{{ weatherForecast.current.wind_speed }} m/s {{ weatherForecast.current.wind_deg }} deg</td>
          </tr>
          <tr>
            <td>Feels like:</td>
            <td>{{ weatherForecast.current.feels_like }}</td>
          </tr>
          <tr>
            <td>Pressure:</td>
            <td>{{ weatherForecast.current.pressure }} <span>mmHg</span></td>
          </tr>
          <tr>
            <td>Humidity:</td>
            <td>{{ weatherForecast.current.humidity }} <span>%</span></td>
          </tr>
        </table>
      </div>

    </div>
  </div>

  <div class="weather-daily">
    <h2>Forecast</h2>

    <div class="forecast-list">
      <div class="forecast-list-item" *ngFor="let forecast of weatherForecast.daily | slice:1">
        <h3>{{ forecast.dt * 1000 | date: 'EEE'}}</h3>

        <p>{{ forecast.temp.day | number: '1.0-1' }} <span>°C</span></p>

        <p>{{ forecast.wind_speed }} <span>m/s</span></p>
      </div>
    </div>
  </div>
</div>
